@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

html,body,div,h1,h2,h3,h4,h5,h6,p,a,address,s,small,strong,b,u,ul,li,form,header,nav,section,time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}


*,*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
   -webkit-text-size-adjust: none;
}

body {
  -ms-overflow-style: scrollbar;
  min-height: 100%;
  height: 100%!important;
  background-color: #348CBE;
  background-color: #348CBE;
  color: rgba(255, 255, 255, 0.65);
}

body,input {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: 300;
  line-height: 1.65;
}


a {
  -moz-transition: color 0.2s ease, border-bottom 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom 0.2s ease;
  transition: color 0.2s ease, border-bottom 0.2s ease;
  text-decoration: none;
  border-bottom: dotted 1px;
  color: inherit;
}

a:hover {
  border-bottom-color: transparent;
}

strong,b {
  font-weight: 400;
}

p {
  margin: 0 0 2em 0;
}

p.content {
  -moz-columns: 20em 2;
  -webkit-columns: 20em 2;
  -ms-columns: 20em 2;
  columns: 20em 2;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
  text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 0.7em 0;
  letter-spacing: -0.025em;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom:30px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}



input {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

strong,b {
  color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
  color: #ffffff;
}

a { text-decoration:none; border-bottom:0; }

/* Button */

input[type="submit"],input[type="reset"],input[type="button"],button,.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 2.75em;
  line-height: 2.75em;
  min-width: 9.25em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"].small,input[type="reset"].small,input[type="button"].small,button.small,.button.small {
  font-size: 0.8em;
}

input[type="submit"]:disabled,input[type="reset"]:disabled,input[type="button"]:disabled,button:disabled,.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}



input[type="submit"],input[type="reset"],input[type="button"],button,.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
  color: #ffffff !important;
  text-transform:uppercase;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,button:hover,.button:hover {
  background:#fff;
  color:#333!important;
}

/* Form */

form {
  margin: 0 0 2em 0;
}

input[type="text"],input[type="password"],input[type="email"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 8px;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,input[type="password"]:invalid,input[type="email"]:invalid {
  box-shadow: none;
}

input[type="text"],input[type="password"],input[type="email"] {
  height: 2.75em;
}

::-webkit-input-placeholder {
  opacity: 1.0;
}

:-moz-placeholder {
  opacity: 1.0;
}

::-moz-placeholder {
  opacity: 1.0;
}

:-ms-input-placeholder {
  opacity: 1.0;
}

input[type="text"],input[type="password"],input[type="email"] {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.35);
}

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus {
  border-color: #8cc9f0;
  box-shadow: 0 0 0 1px #8cc9f0;
}


::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}


ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px;
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.35);
}

/* Section/Article */

section.special {
  text-align: center;
}

header.dns-title {
  margin-bottom: 3em;
}

header.dns-title h2 {
  font-size: 2em;
}

header.dns-title h2:after {
  display: block;
  content: '';
  width: 3.25em;
  height: 2px;
  margin: 0.7em 0 1em 0;
  border-radius: 2px;
}

section.special header.dns-title h2:after {
  margin-left: auto;
  margin-right: auto;
}

header.dns-title p {
  font-size: 1.25em;
  letter-spacing: -0.025em;
}

header.dns-title.special {
  text-align: center;
}

header.dns-title.special h2:after {
  margin-left: auto;
  margin-right: auto;
}



  header.dns-title h2 {
    font-size: 2em;
  }

  header.dns-title p {
    font-size: 1em;
    letter-spacing: 0;
  }

  header.dns-title p br {
    display: none;
  }
}

header.dns-title h2:after {
  background-color: rgba(255, 255, 255, 0.35);
}


.dns-section {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 0 2em 0;
}

.dns-section .content {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dns-section .content> :last-child {
  margin-bottom: 0;
}

.dns-section .content header.dns-title {
  margin: 0 0 2em 0;
}



/* Header */

#header {
  padding: 5em 5em 1em 5em;
  text-align: center;
}

#header h1 {
  margin: 0 0 30px 0;
}

#header p {
  font-size: 1.25em;
  letter-spacing: -0.025em;
}

#header.alt {
  padding: 7em 5em 2em 5em;
}

#header.alt h1 {
  font-size: 3.25em;
}



/* Nav */

#nav {
  -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  background-color: #ffffff;
  color: #636363;
  position: absolute;
  width: 64em;
  max-width: calc(100% - 4em);
  padding: 1em;
  background-color: #f7f7f7;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: default;
  text-align: center;
}

#nav input {
  color: #636363;
}

#nav a:hover {
  color: #636363;
}

#nav strong,#nav b {
  color: #636363;
}

#nav h1,#nav h2,#nav h3,#nav h4,#nav h5,#nav h6 {
  color: #636363;
}

#nav+#main {
  padding-top: 4.25em;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav ul li {
  -moz-transition: margin 0.2s ease;
  -webkit-transition: margin 0.2s ease;
  -ms-transition: margin 0.2s ease;
  transition: margin 0.2s ease;
  display: inline-block;
  margin: 0 0.35em;
  padding: 0;
  vertical-align: middle;
}

#nav ul li a {
  -moz-transition: font-size 0.2s ease;
  -webkit-transition: font-size 0.2s ease;
  -ms-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  display: inline-block;
  height: 2.25em;
  line-height: 2.25em;
  padding: 0 1.25em;
  border: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px transparent;
}

#nav ul li a:hover {
  background-color: rgba(222, 222, 222, 0.25);
}

#nav ul li a.active {
  background-color: #ffffff;
  box-shadow: none;
}

#nav.alt {
  position: fixed;
  top: 0;
  padding: 0.5em 1em;
  background-color: rgba(247, 247, 247, 0.95);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 10000;
}

#nav.alt ul li {
  margin: 0 0.175em;
}

#nav.alt ul li a {
  font-size: 0.9em;
}

/* Main */

#main {
  background-color: #ffffff;
  color: #636363;
  border-radius: 0.25em;
}

#main input {
  color: #636363;
}

#main a:hover {
  color: #636363;
}

#main strong,#main b {
  color: #636363;
}

#main h1,#main h2,#main h3,#main h4,#main h5,#main h6 {
  color: #636363;
}

#main input[type="submit"],#main input[type="reset"],#main input[type="button"],#main button,#main .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #dddddd;
  color: #636363 !important;
}

#main input[type="submit"]:hover,#main input[type="reset"]:hover,#main input[type="button"]:hover,#main button:hover,#main .button:hover {
  background-color: rgba(222, 222, 222, 0.25);
}

#main input[type="submit"]:active,#main input[type="reset"]:active,#main input[type="button"]:active,#main button:active,#main .button:active {
  background-color: rgba(222, 222, 222, 0.5);
}

#main input[type="submit"].special,#main input[type="reset"].special,#main input[type="button"].special,#main button.special,#main .button.special {
  background-color: #8cc9f0;
  color: #ffffff !important;
  box-shadow: none;
}

#main input[type="submit"].special:hover,#main input[type="reset"].special:hover,#main input[type="button"].special:hover,#main button.special:hover,#main .button.special:hover {
  background-color: #9acff2;
}

#main input[type="submit"].special:active,#main input[type="reset"].special:active,#main input[type="button"].special:active,#main button.special:active,#main .button.special:active {
  background-color: #7ec3ee;
}

#main input[type="text"],#main input[type="password"],#main input[type="email"] {
  background: rgba(222, 222, 222, 0.25);
  border-color: #dddddd;
}

#main input[type="text"]:focus,#main input[type="password"]:focus,#main input[type="email"]:focus {
  border-color: #8cc9f0;
  box-shadow: 0 0 0 1px #8cc9f0;
}

#main input[type="checkbox"]:checked+label:before,#main input[type="radio"]:checked+label:before {
  background-color: #636363;
  border-color: #636363;
  color: #ffffff;
}

#main input[type="checkbox"]:focus+label:before,#main input[type="radio"]:focus+label:before {
  border-color: #8cc9f0;
  box-shadow: 0 0 0 1px #8cc9f0;
}

#main ::-webkit-input-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main :-moz-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main ::-moz-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main :-ms-input-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main ul.alt li {
  border-top-color: #dddddd;
}

#main header.dns-title h2:after {
  background-color: #dddddd;
  background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

#main>.main {
  padding: 5em 5em 3em 5em;
  border-top: solid 1px #dddddd;
}

#main>.main:first-child {
  border-top: 0;
}




/* Wrapper */

.wrapper {
  width: 64em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
  min-height: 100%;
}


/** MOBILE STYLES **/



@media screen and (max-width: 1680px) {
  body,  input {
    font-size: 14pt;
  }
}


@media screen and (max-width: 1280px) {
  body,  input {
    font-size: 12pt;
  }
  #header {
    padding: 4em 4em 0.1em 4em;
  }

  #header.alt {
    padding: 6em 4em 3em 4em;
  }
  #main>.main {
    padding: 4em 4em 2em 4em;
  }
}

@media screen and (max-width: 980px) {
  #header {
    padding: 4em 3em 0.1em 3em;
  }

  #header.alt {
    padding: 5em 3em 2em 3em;
  }
  .dns-section {
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }

  .dns-section .content {
    -moz-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100%;
  }

  .dns-section .content header.dns-title h2:after {
    margin-left: auto;
    margin-right: auto;
  }
   #main>.main {
    padding: 4em 3em 2em 3em;
  }
}


@media screen and (max-width: 736px) {
  input[type="submit"],  input[type="reset"],  input[type="button"],  button,  .button {
    min-width: 0;
  }
   h1 {
    font-size: 2em;
  }
  #header {
    padding: 3em 2em 0.1em 2em;
  }

  #header p {
    font-size: 1em;
    letter-spacing: 0;
  }

  #header p br {
    display: none;
  }

  #header.alt {
    padding: 4em 2em 1em 2em;
  }

  #header.alt h1 {
    font-size: 2.5em;
  }
  #header.dns-title {
    margin-bottom: 0;
  }
   #main>.main {
    padding: 3em 2em 1em 2em;
  }
  #nav {
    display: none;
  }

  #nav+#main {
    padding-top: 0;
  }
}

@media screen and (max-width: 480px) {
  html,  body {
    min-width: 320px;
  }
  .wrapper {
    max-width: calc(100% - 2em);
  }
   #header {
    padding: 3em 1.5em 0.1em 1.5em;
  }

  #header.alt {
    padding: 4em 1.5em 1em 1.5em;
  }
  #main>.main {
    padding: 3em 1.5em 1em 1.5em;
  }
}

@media screen and (max-width: 360px) {
   body,  input {
    font-size: 11pt;
  }
  .wrapper {
    max-width: 100%;
  }
   #header {
    padding: 2.5em 1em 0.1em 1em;
  }

  #header.alt {
    padding: 3.5em 1em 0.5em 1em;
  }
   #main {
    border-radius: 0;
  }

  #main>.main {
    padding: 2.5em 1em 0.5em 1em;
  }
}